<div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="vendas">
        <ng-template pTemplate="caption">
        </ng-template>
  
        <ng-template pTemplate="header">
          <tr>
            <th class="col-header-id" >Código_venda</th>
            <th> Frete</th>
            <th>Total</th>
            <th>Data Cadastro</th>
          
          </tr>
        </ng-template>
  
        <ng-template pTemplate="body" let-venda>
          <tr>
            <td>{{ venda.id_venda }}</td>
            <td>{{ venda.frete }}</td>
            <td class="col-numero">{{ venda.total }}</td>
            <td class="col-data"> {{ venda.dataCadastro | date: 'dd/MM/yyyy'}} </td>
      
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>