<div class="container-fluid">
<nav class="navbar navbar-light bg-light navbar">
  <div class="container-fluid">
    <h1 class="navbar-brand  mx-auto font-weight-bold" >Cadastro venda</h1>
  </div>
</nav>





  <form autocomplete="off" #frm="ngForm" (ngSubmit)="adicionar(frm)">
    <div class="row">
      <div class="col-12 col-md-8">

        <div class="form-group">
          <label for="exampleFormControlSelect1">Cliente</label>
          <select class="form-control" [(ngModel)]="venda.cliente" name="nome"  id="nome" required>
            <option [ngValue]="cliente" *ngFor="let cliente of clientes">{{cliente.nome}}</option>
          </select>
        </div>

      </div>
      <div class="col-12 col-md-4">
        <div class="form-group">
          <label for="exampleInputEmail1">Frete</label>
          <input [(ngModel)]="venda.frete" name="frete"  id="frete" type="number" class="form-control" placeholder="0.00" required>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Itens</h5>
            <div class="row">
              <div class="col-12 col-md-8">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Produtos</label>
                  <select  class="form-control" [(ngModel)]="item" name="produto"  id="exampleFormControlSelect1">
                    <option *ngFor="let produto of produtos" [ngValue]="produto" >{{produto.nome}}</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-md-4 ">
                <div class="row">
                  <div class="col-12 col-md-8 ">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Quantidade</label>
                      <input [(ngModel)]="item.quantidade" name="quantidade" type="text" class="form-control" placeholder="0">
                    </div>
                  </div>
                  <div class="col-12 col-md-4 pt-button"> 
                   <button type="button" [disabled]="!item || !item.quantidade" (click)="incluirItem()" class="btn btn-dark">+</button></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Produto</th>
                      <th scope="col">Valor unitário</th>
                      <th scope="col">Quantidade</th>
                      <th scope="col">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of venda.itens">
                      <td>{{item.nome}}</td>
                      <td>{{item.valor | currency:'BRL'}}</td>
                      <td>{{item.quantidade}}</td>
                      <td>{{item.total | currency:'BRL'}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    
    </div>

    <div class="row justify-content-end mt-4 "  >
      <div class="col-3">
        <h4>Total</h4>
        <span>{{venda.total | currency:'BRL'}}</span>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button type="submit" [disabled]="frm.invalid || venda.itens.length === 0"  class="btn btn-dark">Salvar</button>
      </div>
    </div>

   
  </form>
</div>