<div class="ui-g">
    <div class="ui-g 12">
        <h1>Cadastro vendas</h1>
    </div>
</div>

<form>
    <div class="ui-g">
        <div class="ui-g-8 ui-fluid">
            <label>Clientes </label>
            <p-dropdown id="id " name="nome"
            placeholder="Selection..."
            [options]="clientes" optionlabel="clientes.nome"></p-dropdown>
            
        </div>
    </div>
</form>


<form>
    <div class="ui-g">
        <div class="ui-g-8 ui-fluid">
            <label>Produtos </label>
            <p-dropdown id="id " name="nome"
            placeholder="Selection..."
            [options]="produtos" optionlabel="nome"></p-dropdown>
        </div>
    </div>
</form>

