
<div class="col-sm-12">
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Listagem de vendas</a>
  </div>
</nav>
</div>

<div class="col-sm-12">
 <table class="table"  >
    <thead class="thead-light ">
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Cliente</th>
        <th scope="col">DataCadastro</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody  >
      <tr *ngFor="let item of vendas">
        <th scope="row">{{item.id_venda}}</th>
        <td >{{item?.cliente?.nome}}</td>
        <td>{{item.dataCadastro | date: 'dd/MM/yyyy'}}</td>
        <td>{{item.total | currency:'BRL'}}</td>
      </tr>
    </tbody>
  </table>
</div>
