
 <table class="table"  >
    <thead class="thead-light ">
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Cliente</th>
        <th scope="col">DataCadastro</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody  >
      <tr *ngFor="let item of vendas">
        <th scope="row">{{item.id_venda}}</th>
        <td >{{item.id_cliente}}</td>
        <td>{{item.frete  | currency:'BRL'}}</td>
        <td>{{item.total | currency:'BRL'}}</td>
      </tr>
    </tbody>
  </table>
